.data-table {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 2fr 0.5fr 1fr 1fr 1fr;
  gap: 1rem;
}

.table-heading {
  @apply flex items-center gap-1;

  h3 {
    @apply text-lg font-semibold;
  }
}
